# Dependencies
node_modules

# Build output
dist/
build/

# Next.js
.next/
next-env.d.ts
*.log
.env
.env.local
.env.*.local

# Python
.prompt/
backend/.promptB/
__pycache__/
*.pyc
*.pyo

# Database
sql_app.db

# Misc
.DS_Store
*~
npm-debug.log*
yarn-error.log
#talking.txt
cli_prompt.txt
