# Node
node_modules
.next
npm-debug.log*
yarn-error.log

# Python
**/__pycache__
*.pyc
*.pyo
**/venv
.venv
/backend/.promptB/
/.prompt/

# Build artifacts
build
dist
out

# Local Environment & Temp
.env
.env.local
.env.*.local
sql_app.db
cli_prompt.txt


# IDE & OS
.vscode
.idea
.DS_Store
*~